nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.brand {
  font-size: 34px;
  font-weight: bold;
}
.nav-link {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 30px 30px;
}
.nav-infor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav-infor_item {
  cursor: pointer;
}
.nav-infor_item {
  cursor: pointer;
  border: none;
}
.nav-infor_item > svg:focus {
  outline: none;
  border: none;
}
.nav-infor_item > svg:hover {
  fill: red;
  stroke: #b88e2f;
}
.fa-bell {
  font-size: 28px;
}
.popover-list {
  padding: 10px;
}

.popover-item {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
  padding: 0px 20px;
  font-size: 17px;
}

#hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.popover-item:hover {
  color: red;
}

.popover-item:hover ~ hr {
  background-color: #f0f0f0;
}
