@import "../../../app/styles/shared-styles.scss";
// .banner {
//   background-image: url("/assets/imgs/banner.jpg");
//   background-size: cover;
//   background-repeat: no-repeat;
//   height: 100vh;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 100px;
// }
.content-right {
  flex: 1;
  background-color: #fff3e3;
  padding: 30px;
  border-radius: 5px;
}
.content-left {
  flex: 1;
}
.content-right > p {
  font-size: 16px;
  font-weight: 600;
}
.content-right > h3 {
  color: #b88e2f;
  font-size: 52px;
  font-weight: bolder;
}
.content-right > button {
  background-color: #b88e2f;
  color: white;
  font-weight: bolder;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
}
.range {
  margin: 50px 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.range-infor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.range-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.range-item > h4 {
  margin-top: 20px;
  font-weight: bolder;
}
.list_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.product {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
}
.product-infor {
  background-color: #f4f5f7;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
}
.product_price > b {
  color: $shopapp-star-color;
}
.product-rating_star > i {
  color: $shopapp-star-color;
}
.product-infor > span {
  margin-right: 10px;
}
.product_name {
  height: 40px;
}

.product-image {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.product-sale {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 30px;
  top: 50px;
  border-radius: 50%;
  background-color: #e97171;

  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.product-new {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  background-color: #2ec1ac;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.show-more {
  text-align: center;
  margin: 20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #b88e2f;
  padding: 8px 30px;
  color: #b88e2f;
  font-weight: 600;
}

.explore-product {
  background-color: #fcf8f3;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.explore-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-explore {
  background-color: #b88e2f;
  color: white;
  font-weight: bolder;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  width: 200px;
}
.explore-center {
  background-image: url(/assets/imgs/explore_1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: 1;
}

.setup-infor {
  display: flex;
  align-items: center;
}
.setup-item {
  margin: 5px 15px;
}
.setup-right > .row {
  margin-bottom: 50px;
}
.carousel {
  width: 500px;
}
// .carousel img {
//   width: 100%;
//   height: 100%;
//   border-radius: 5px;
// }
.slide-img {
  width: 500px;
  height: 500px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-search > input {
  padding: 10px 10px;
  border: 1px solid #9f9f9f;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 250px;
}
.input-search > input:focus {
  outline: none;
}
.color-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  height: 30px;
}
.color {
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
}
.color:hover {
  outline: none;
  border: 1px solid #000;
  transform: scale(1.1);
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background overlay */
  z-index: 50; /* Ensure it is above other content */
}
.loader {
  z-index: 1;
  border: 16px solid #d9d9d9; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fa-heart {
  font-size: 25px;
}
.addFavorite {
  stroke: red;
}
