<footer>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3 class="footer-title">Funiro</h3>
        <p>400 University Drive Suite 200 Coral Gables, FL 33134 USA</p>
      </div>
      <div class="col-2">
        <ul class="">
          <li class="nav-link">Links</li>
          <li class="nav-link">Home</li>
          <li class="nav-link">Shop</li>
          <li class="nav-link">About</li>
          <li class="nav-link">Contact</li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="">
          <li class="nav-link">Help</li>
          <li class="nav-link">Payment Options</li>
          <li class="nav-link">Returns</li>
          <li class="nav-link">Privacy Policies</li>
        </ul>
      </div>
      <div class="col-4">
        <h3 class="footer-title nav-link disable">Newsletter</h3>
        <div class="input-footer">
          <input
            type="text"
            name=""
            id=""
            class=""
            placeholder="Enter Your Email Address"
          />
          <button>SUBCRIBE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p>2023 furino. All rights reverved</p>
  </div>
</footer>
