@import "../../../app/styles/shared-styles.scss";
.navigation {
  background-color: #f9f1e7;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
}
.product-details {
  display: flex;
  margin-top: 20px;
}
.product-details_images {
  display: flex;
  gap: 40px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.image-child {
  display: flex;
  flex-direction: column;
  width: 90px;
  margin-bottom: 10px;
}
.image-child.active {
  border: 1px solid black;
  border-radius: 10px;
}
.image-child > img {
  border-radius: 10px;
}
.image-main > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.product-details_infor {
  margin-left: 80px;
}

.product-price {
  font-size: 25px;
  font-weight: 600;
  color: $shopapp-star-color;
}
.product-price > del {
  font-size: 15px;
  color: #9f9f9f;
}
.product-evaluate {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: #9f9f9f;
}
.product-star > i {
  color: $shopapp-star-color;
}
.product-desription {
  font-size: 16px;
  font-weight: 500;
}
.product-size > p {
  color: #9f9f9f;
}
.product-size > ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}
.product-size > ul > li {
  background-color: #f9f1e7;
  text-align: center;
  line-height: 2.5;
  padding: 5px 10px;
  border-radius: 5px;
}
.product-name {
  height: 50px;
}
.product-size > ul > li > div {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
// .product-size > ul > li:hover {
//   background-color: #b88e2f;
// }
.product-color > p {
  color: #9f9f9f;
}
.color-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
  height: 40px;
}
.color {
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
}

.product-cart {
  display: flex;
  gap: 15px;
  align-items: center;
}
.quantity {
  border: 2px solid #9f9f9f;
  border-radius: 5px;
}
.quantity > button,
input {
  background-color: #fff;
  border: none;
  padding: 5px;
  font-size: 19px;
  width: 40px;
  text-align: center;
}
.btn {
  border: 1px solid #9f9f9f;
  padding: 5px 30px;
  font-weight: bold;
}

.product {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
}
.product-infor {
  background-color: #f4f5f7;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
}
.product_price > b {
  color: $shopapp-star-color;
}
.product-rating_star > i {
  color: $shopapp-star-color;
}
.product-infor > span {
  margin-right: 10px;
}
.product-image_slide {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.product-image {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.product-sale {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  background-color: #e97171;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.product-new {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  background-color: #2ec1ac;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.related-product {
  border-top: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0px;
}
.related-product h3 {
  text-align: center;
  margin: 20px;
}

.show-more {
  text-align: center;
  margin: 20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #b88e2f;
  padding: 8px 30px;
  color: #b88e2f;
  font-weight: 600;
}
.modal-dialog {
  margin: 0.5rem;
  width: 500px;
  max-width: 500px; /* Adjust this value for the width of the modal */
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  overflow: auto;
}

.modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-header {
  height: 100px;
  font-size: 30px;
  font-weight: bolder;
}
.square-image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.carousel {
  width: 400px;
  height: 400px;
}
.slide {
  width: 400px;
  height: 400px;
}
.selected {
  background-color: #b88e2f !important;
  color: white;
}
.selectedColor {
  transform: scale(1.15);
  border: 1px solid #000;
}
.activeInfor {
  border: 2px solid gray;
}
.user {
  display: flex;
  align-items: center;
}
.btn-add {
  background-color: #27678f;
  color: white;
  background-size: 200% auto;
  transition: background-position 0.7s;
  background-image: linear-gradient(to right, #27678f 50%, white 50%);
}
.btn-add:hover {
  background-position: right center;
  color: #000;
  border: 1px solid #27678f;
}

.btn-buyNow {
  background-color: #ef683a;
  color: white;
  background-size: 200% auto;
  transition: background-position 0.7s;
  background-image: linear-gradient(to right, #ef683a 50%, white 50%);
}
.btn-buyNow:hover {
  background-position: right center;
  color: #000;
  border: 1px solid #ef683a;
}
.product-reviews {
  border-bottom: 1px solid black;
  padding: 0;
  margin: 0;
}
.modal-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background overlay */
  z-index: 50; /* Ensure it is above other content */
}
.loader {
  z-index: 1;
  border: 16px solid #d9d9d9; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}
#file-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.file-upload-label {
  display: inline-block;
  background-color: #fff;
  border: 1px solid black;
  color: #000;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.add-comment {
  display: flex;
}
.evaluation-star {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.evaluation {
  padding: 5px;
  border: 1px solid #000;
}
.evaluation:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}
