@import "../../styles/shared-styles.scss";
.banner {
  background-image: url(/assets/imgs/banner_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content > h3 {
  font-size: 40px;
  color: #000;
  font-weight: bold;
}
.content a {
  text-decoration: none;
  color: #000;
}
.search-product {
  background-color: #f9f1e7;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-left {
  display: flex;
  align-items: center;
}
.search-right {
  display: flex;
  align-items: center;
}
.product-quantity {
  padding: 10px;
  background-color: #fff;
  text-align: center;
}
.short {
  width: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
}

.list_product {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product {
  position: relative;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}
.col-lg-3,
.col-md-6 {
  flex: 1 1 calc(25% - 16px); /* Chiều rộng cho col-lg-3 với khoảng cách */
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .col-lg-3 {
    flex: 1 1 calc(50% - 16px); /* Chiều rộng cho col-md-6 với khoảng cách */
  }
}

@media (max-width: 768px) {
  .col-md-6 {
    flex: 1 1 100%; /* Chiều rộng cho màn hình nhỏ */
  }
}
.product-infor {
  background-color: #f4f5f7;
  padding: 10px;
  font-size: 16px;
  border-radius: 0px 0px 10px 10px;
}
.product-rating_star > i {
  color: $shopapp-star-color;
}
.product_name {
  height: 45px;
}
.product-image {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0px 0px;
}
.product-image:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.product_price > b {
  color: $shopapp-star-color;
}
.product-sale {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 30px;
  top: 50px;
  border-radius: 50%;
  background-color: #e97171;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.product-new {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  background-color: #2ec1ac;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.show-more {
  text-align: center;
  margin: 20px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #b88e2f;
  padding: 8px 30px;
  color: #b88e2f;
  font-weight: 600;
}
.achievements {
  background-color: #faf3ea;
  height: 200px;
  display: flex;
  align-items: center;
}
.page-item {
  border-radius: 10px;
}
.page-link {
  color: #000;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
}
/* Style the select element */
.short select {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
}

/* Style the dropdown options */
.short select option {
  padding: 10px;
}

/* Style the dropdown on hover */
.short select:hover {
  background-color: #fff;
}

/* Style the dropdown when it is focused */
.short select:focus {
  background-color: #fff;
}
#dropdownMenuButton {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #f4f5f7;
  width: 200px;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.color-item {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 5px 0px;
  height: 30px;
}
.color {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #000;
}
.color:hover {
  outline: none;
  transform: scale(1.05);
}
.filter {
  width: 210px;
  position: relative;
  background-color: #fff;
}
.filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.menu-filter {
  display: none;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #e0e0e0;
  position: absolute;
  top: 40px;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.filter:hover .menu-filter {
  display: block;
}
.visible {
  display: block;
}
.hide {
  display: none;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a background overlay */
  z-index: 50; /* Ensure it is above other content */
}
.loader {
  z-index: 1;
  border: 16px solid #d9d9d9; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 960px) {
  .search-right {
    display: none;
  }
}
.fa-heart {
  font-size: 25px;
}
.color-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  height: 30px;
}
.color {
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #9f9f9f;
}
.color:hover {
  outline: none;
  border: 1px solid #000;
  transform: scale(1.1);
}
